<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #formData="ngForm"
    (submit)="onSubmit(formData)"
  >
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        ngModel
        name="email"
        matInput
        email
        required
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >Field must not be empty</mat-error
      >
      <mat-error *ngIf="!emailInput.hasError('required')"
        >Email is invalid</mat-error
      >
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      hintLabel="Should at least 6 characters long"
    >
      <mat-label>Password</mat-label>
      <input
        ngModel
        name="password"
        matInput
        [type]="hide ? 'password' : 'text'"
        required
        minlength="6"
        #pwInput="ngModel"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Has to be at least 6 characters long</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel
        name="birthDate"
        required
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox ngModel name="agree" required color="primary"
      >Agree to Terms and Conditions</mat-checkbox
    >

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="formData.invalid"
    >
      Submit
    </button>
  </form>
</section>
