mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;

  &:hover,
  &:active {
    color: lightgray;
  }
}

a {
  text-decoration: none;
  color: #fff;

  &:hover,
  &:active {
    color: lightgray;
  }
}

.nav-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main {
  margin: 50px;
}
